html{
    font-size: 62.5%;
}

.header-container{
    
    width: 100vw;
    border: 2px black solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;  
}

.header-container__title{
    width: 100%;
    background-color: aqua;
    text-align: center;
}

.navBar{
    width: 100%;
    background-color: bisque;       
}

.navBar__list{
    list-style-type: none;
}

.navBar__item{
    display: inline;
    padding: 2px;
}

.navBar__link{
    text-decoration:none ;
}

.main-container{
    
    width: 100vw;
    height: 70vh;
    border: 2px blue solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.aside-container{
    width: 100%;
    border: 2px yellow solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;    

}

.formOne{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 50%;
    text-align: center;

}

.formOne__inputValue, 
.formOne__inputDate,
.formOne__select{
    width: 90%;
    height: 20px;
    text-align: center;
}

.formOne__submit{
    margin: 5px;
}

.article-container{
    width: 100%;
    border: 2px green solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
}

.tableOne{
    width: 100%;
}

.tableOne__head{
    background-color: aquamarine;
}

.footer-container{
    width: 100vw;
    border: 2px aqua solid;
    box-sizing: border-box;
    text-align: center;
}